body{
}

.wrap{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
	overflow: auto;
}

.blackout{
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background: rgba(0,0,0,0);
	transition: 1700ms background;
}

.lights-out .blackout{
	background: rgba(0,0,0,1);
}

.background{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	overflow: hidden;
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	background-position: 50%;
}

.hash-grid-overlay{
	background: url(../img/hash-grid-overlay.png);
	position: absolute;
	opacity: 0.45;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

@media (min-width: 1200px){
	.container{
		width: 1500px !important;
	}
}

.hots-logo{
	display:block;
	background: url(../img/hots.png);
	background-size:400px 184px;
	background-repeat: no-repeat;
	height:184px;
	width:400px;
	margin:0 auto;
	transition: 700ms all;
}

.lights-out .hots-logo{
	opacity: 0;
}

.video{
	transition: 300ms all;
}

.sidebar{
	overflow: hidden;
	transition: 300ms all;
}

.twitch-comments{
	opacity: 0;
	transition: 250ms all;
}

.sidebar-enabled .twitch-comments{
	opacity: 1;
}

.controls{
	margin-top:10px;
}

.controls a{
	margin:0 10px;
}

.controls, .controls a{
	font-size:11px;
	text-transform: uppercase;
	color:#fff;
}

.controls a:hover{
	color:#fff;
}




